[Unit]
Description=Game Servers Discord Manager
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/danos-game-servers-discord/src/main.py
WorkingDirectory=/opt/danos-game-servers-discord
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
